html, body, h1, h2, h3, ol, ul, il, a {
	padding: 0;
	border: 0;
	margin: 0;
	color: antiquewhite;
	font-size: 100%;
	font: inherit;
}

body {
	padding: 20px 20px 20px 20px;
	background: #5f5f5f url(images/background-img.png) top left repeat;
	font-family: Helvetica, Arial, "Times New Roman", sans-serif;
}

h1 {
	margin: 10px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 10px 0 20px 0;
	color: #7facaa;
    text-align: center;
	font-size: 25px;
	font-weight: bold;
}

h3 {
	margin: 15px 0 15px 0;
	border-bottom: 3px solid #CCCCCC;
	padding-bottom: 3px;
	color: #7facaa;
	font-size: 18px;

}

ul {
	padding: 0 0 0 50px;
}

ol {
	padding: 0 0 0 50px;
}

.nav li {
	display: inline;
}
.nav {
	padding-left: 0;
    margin: 5px 0 20px 0;
    text-align: center;
}
.nav a {
	color: #0000af;
	text-decoration: none;
}
.recipes {
	list-style-type: none;
	padding: 5px 200px 5px 200px;
	
}
.recipes li {
	border: 1px solid #b56663;
	padding-left: 15px;
}
.recipes h3 {
	border-bottom: 0;
}
.recipes a {
	color: #7facaa;
	text-decoration: none;
}
.recipes img {
	max-width: 150px;
	max-height: 150px;
	float: left;
	padding: 1px 15px 1px 0;
}
body {
    padding: 0 0 0 0;
}
.header {
    padding: 10px 10px 10px 10px;
    background-color: #b56663;
}
.header a {
    color: #ffffff;
	text-decoration: none;
}
h1 {
    color: #ffffff;
    margin: 0 0 15px 0;
    text-align: center;
}
.main-content {
    width: 500px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
}
.main-content p {
	line-height: 26px;
}
.featured-image {
	width: 515px auto;
	height: 260px;
	padding-bottom: 50px;
	padding: 20px auto 20px auto;
	background: #ffffff url(images/lime-cake.png) center no-repeat;
}
.featured-image h3 {
	margin: 0;
	background-color: #333333;
	color: #ffffff;
	padding: 5px 0 5px 15px;
	text-transform: uppercase;
}
.featured-image2 {
	width: 600px auto;
	height: 494px;
	padding: 20px auto 20px auto;
	background: #ffffff url(images/power-of.png) center no-repeat;
}
.featured-image2 h3 {
	margin: 0;
	background-color: #333333;
	color: #ffffff;
	padding: 5px 0 5px 15px;
	text-transform: uppercase;
}

.photos {
	list-style-type: none;
	padding: 0;
}
.photos li {
	display: inline;
	padding-left: 11px;
}
.photos img {
	max-width: 150px;
	max-height: 150px;
}
.main-content-error {
    width: 500px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
}
.main-content-error h2 {
	color: firebrick;	
}
label, input {
	display: block;
}
label {
	margin-bottom: 10px;
}
input {
	width: 480px;
	margin-bottom: 25px;
}
input[type=submit]{
	windows: 120px;
	font-size: 30px;
}
input[type=text]{
	border: 2px solid #7facaa;
	font-size: 24px;
	padding: 7px;
}
textarea {
	width: 480px;
	height: 400px;
	padding: 7px;
	border: 2px solid #7facaa;
	margin-bottom: 25px;
	font-size: 24px;
}
input[type=checkbox], label[for=newsletter]{
	display: inline;
}








